<button (click)="toggleView()">Change Calender</button>
<div *ngIf="showTable">
  <table class="table">
    <thead class="table-success">
      <tr>
        <th>Name</th>
        <th>Month</th>
        <th>Last</th>
        <th>High</th>
        <th>Low</th>
        <th>Chg</th>
        <th>Chg%</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of Calendar">
        <td>{{rate.Name}}</td>
        <td>{{rate.Month}}</td>
        <td>{{rate.Last}}</td>
        <td>{{rate.High}}</td>
        <td>{{rate.Low}}</td>
        <td>{{rate.Chg}}</td>
        <td>{{ rate['Chg%'] }}</td>
        <td>{{rate.Time}}</td>
       
      </tr>
    </tbody>
  </table>
</div>

<div class="iframe" *ngIf="!showTable">
  <iframe src="https://www.moneycontrol.com/economic-calendar" style="width: 100%; height: 1000px;" frameborder="0"
    scrolling="auto" sandbox="allow-same-origin allow-scripts"></iframe>
</div>