<div class="heading">

  <div class="table-responsive-md " id=""> 
      <h2>Portfolio</h2> <br>    
      <table class="table table-borderles table-hover">
              <thead class="thead-light">
              <tr>
                  <th>Order</th>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Size</th>
                  <th>Symbol</th>
                  <th>Price</th>
                  <th>S/L</th>
                  <th>T/P</th>
                  <th>Price</th>
                  <th>Swap</th>
                  <th>Proffit</th>
                  <th></th>
                  <th></th>
              </tr>
              </thead>

              <tbody>
                <tr>
                  <td>874806831</td>
                  <td>17.02.24 12:00 PM</td>
                  <td>Buy</td>
                  <td>10</td>
                  <td>AAPL</td>
                  <td>100</td>
                  <td>95</td>
                  <td>105</td>
                  <td>102</td>
                  <td>0.5</td>
                  <td>20</td>
                 
                </tr>
                <tr>
                  <td>874806831</td>
                  <td>17.02.24 12:30 PM</td>
                  <td>Sell</td>
                  <td>10</td>
                  <td>AMZN</td>
                  <td>100</td>
                  <td>95</td>
                  <td>105</td>
                  <td>102</td>
                  <td>0.5</td>
                  <td>20</td>
                  
                </tr>
                <tr>
                  <td>874806831</td>
                  <td>17.02.24 12:40 PM</td>
                  <td>Buy</td>
                  <td>10</td>
                  <td>ITC</td>
                  <td>100</td>
                  <td>95</td>
                  <td>105</td>
                  <td>102</td>
                  <td>0.5</td>
                  <td>20</td>
                 
                </tr>
                <tr>
                  <td>874806831</td>
                  <td>17.02.24 12:50 PM</td>
                  <td>Buy</td>
                  <td>10</td>
                  <td>IOC</td>
                  <td>100</td>
                  <td>95</td>
                  <td>105</td>
                  <td>102</td>
                  <td>0.5</td>
                  <td>20</td>
                 
                </tr>
                <tr>
                  <td>874806833</td>
                  <td>17.02.24 12:55 PM</td>
                  <td>Buy</td>
                  <td>10</td>
                  <td>HDFC</td>
                  <td>100</td>
                  <td>95</td>
                  <td>105</td>
                  <td>102</td>
                  <td>0.5</td>
                  <td>20</td>
                  
                </tr>
                <!-- Add more rows with similar structure for more data -->
              </tbody>
      </table>
  </div>
</div>